* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 5px 5px;
    background-color:dodgerblue;
    display: flex;
    justify-content:space-evenly;
}

h1 {
    font-family:fantasy;
    font-size: 40px;
    margin: 20px;
    padding: 20px;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    margin: 7px 0;
}

header nav ul {
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

header nav ul li a {
    padding: 10px 15px;
}

header a {
    text-decoration: none;
}