* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*<--header-->*/

header {
    background-color:dodgerblue;
    display: flex;
    justify-content:space-around;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: floralwhite;
    margin: 15px;
    padding: 20px;
}

header nav {
    display: flex;
    flex-wrap: wrap;
}

header nav ul {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

header nav ul li a {
    padding: 10px 40px;
}

header a {
    text-decoration: none;
    color:floralwhite;
}

header a:hover {
    color:firebrick;
}

header a:visited {
    text-decoration: none;
}