* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*<--header-->*/

header {
    background-color:dodgerblue;
    display: flex;
    justify-content:space-around;
}

body {
    background-color:midnightblue;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: floralwhite;
    margin: 15px;
    padding: 20px;
}

header nav {
    display: flex;
    flex-wrap: wrap;
}

header nav ul {
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

header nav ul li a {
    padding: 10px 40px;
}

header a {
    text-decoration: none;
    color:floralwhite;
}

header a:hover {
    color:firebrick;
}

header a:visited {
    text-decoration: none;
}

.hero {
    background-image: url('./images/hero-image.jpg');
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero, h2 {
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 40px 190px 20px 75px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:lighter;
}

img {
    height: 30%;
    width: 30%;
    position: relative;
}

h3 {
    text-align: center;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:whitesmoke;
    margin-top: 60px;
}

.about-me-section {
    color: white;
    padding: 20px;
    display: flex;
    font-size: 25px;
    margin: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

p {
    display: block;
    margin: 50px;
    text-align: left;
}

.projects-section {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: space-evenly;
    margin-top: 0px;
}

.project-info {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    margin: 50px auto;
    padding: 100px 200px;
    border: 2px floralwhite solid;
    border-width: 7px;
    text-decoration: none;
}

.project-info:hover {
    background-color: rgb(255, 250, 240, 0.6);
}

.project-info, a:link {
    color: floralwhite;
    text-decoration: none;
}

.project-info, a:visited {
    text-decoration: none;
    color:floralwhite;
}


.skill-section {
    font-size: 35px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}

.skill-section ul {
    list-style-type: none;
}

.contact-section {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.contact-section h3{
    margin-top: 15px;
}

.contact-section ul {
    font-size: 30px;
    color:whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    padding: 20px;
    justify-content: space-evenly;
}

@media screen and (max-width: 980px) {

    header {
        position: relative;
        padding-bottom: 0;
    }

    header h1 {
        width: 100%;
        text-align: center;
        font-size: 40px;
        margin: auto;
    }

    header nav ul li {
        display: flex;
        flex-direction: column;
        font-size: 25px;
        width: 100%;
        justify-content: center;
        margin-right: 30px;
        margin-bottom: 5px;
    }
}