* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*<--header-->*/

header {
    background-color:dodgerblue;
    display: flex;
    justify-content:space-around;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: floralwhite;
    margin: 15px;
    padding: 20px;
}

header nav {
    display: flex;
    flex-wrap: wrap;
}

header nav ul {
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

header nav ul li a {
    padding: 10px 40px;
}

header a {
    text-decoration: none;
    color:floralwhite;
}

header a:hover {
    color:firebrick;
}

header a:visited {
    text-decoration: none;
}

.hero {
    background-image: url('./images/hero-image.jpg');
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
}

.projects-section {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: space-evenly;
    margin-top: 0px;
}

.project-info {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    margin: 50px auto;
    padding: 100px 200px;
    border: 2px floralwhite solid;
    border-width: 7px;
    text-decoration: none;
}

.project-info:hover {
    background-color: rgb(255, 250, 240, 0.6);
}

.project-info, a:link {
    color: floralwhite;
    text-decoration: none;
}

.project-info, a:visited {
    text-decoration: none;
    color:floralwhite;
}

.hero, h2 {
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 50px 30px 0 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:lighter;
}
